.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.table1 {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    background-color: aquamarine;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    margin: auto;
}
